body {
	text-align: center;
}

#container {
	width: 700px;
	margin: 0px auto;
	text-align: left;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

#menu ul li {
	background-color: #666;
}

#menu ul li a {
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px 10px 10px 20px;
}

#menu ul li a:hover {
	background: #000;
	border-left: 10px solid #333;
	color: #fff;
}

#header {
	background: url(robots.jpg) top left no-repeat;
	width: 400px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}

#header h1 {
	margin: 0px;
}

#header a span {
	visibility: hidden;
}

#header a {
	width: 400px;
	height: 100px;
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

#sidebar {
	width: 200px;
	padding: 10px;
	float: left;
}

#main {
	margin-left: 225px;
}

ul {
	padding-left: 10px;
	margin-left: 10px;
	list-style-type: none;
}

ul li {
	padding-left: 20px;
	background: url(bullet.gif) 0em 0.25em;
	background-repeat: no-repeat;
	margin-bottom: 1em;
}

#footer {
	clear: both;
}